:root {
    --text-secondary: #374151;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 0;
}
.container {
    display: flex;
}
.col {
    height: 100vh;
}
.left {
    width: 30rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.center {
    width: 100%;
    background-color: #fafafa;
    overflow-y: scroll;
}
.right {
    width: 30rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.nav {
    width: 100%;
    background-color: #f8fafc;
    border-bottom: 1px solid #64748b;
    padding: 10px;
    position: sticky;
    top: 0;
}
.nav-main {
    display: flex;
}
.logo {
    width: 30rem;
}
.search {
    width: 100%;
}
.menu {
    width: 30rem;
}

.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-item-center {
    align-items: center;
}
/* Flex direction */
.flex-direction-column {
    flex-direction: column;
}
.flex-grow-1 {
    flex-grow: 1;
}


.text-secondary {
    color: var(--text-secondary);
}

.search-box {
    width: 450px;
    border: 1px solid;
    padding: 10px;
    border-radius: 31px;
}

.search-box input {
    width: 100%;
    border: none;
    padding-left: 20px;
}
.search-btn {
    padding: 10px 20px;
    border-radius: 200px;
    border: none;
    background-color: #fe4f41;
    color: #fff;
}
.menu-icon {
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
}

.w-100 {
    width: 100%;
}
.text-center {
    text-align: center;
}

/* Left */
.left-img {
    width: 40%;
    border-radius: 50%;
    border: 5px solid #dc2626;
}

/* story circle */
.story-circle{

}
.story-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #dc2626;
}
.btn {
    border: none;
    padding: 10px;
}
.bg-white {
    background-color: #fff;
}
.bg-transparent {
    background-color: transparent;
}

.rounded-pill {
    border-radius: 200px;
}

/* post-img */
.post-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.post-card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

.post-comment-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-comment-box {
    border: 1px solid;
    border-radius: 200px;
    width: 100%;
}
.post-comment-box input {
    border: none;
    background-color: transparent;
}
.post-comment-box input:focus {
    outline: none;
}

.treading-feeds  {
    column-count: 2;
    column-gap: 10px;
}
.tf-img {
    border-radius: 10px;
    margin-bottom: 5px;
}

.sugg-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left-menu {
    list-style: none;
}

.menu-list-item {
    padding-left: 35px;
    border-left: 5px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-list-item.active {
    border-color: #fe446c;
    color: #fe446c;
}

.fw-bold {
    font-weight: 900;
}




.ms-1 {
    padding-left: 10px;
}
.me-1 {
    padding-right: 10px;
}
.me-2 {
    margin-right: 20px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}
.px-5 {
    padding-left: 50px;
    padding-right: 50px;
}

.px-9 {
    padding-left: 90px;
    padding-right: 90px;
}
.px-7 {
    padding-left: 70px;
    padding-right: 70px;
}